.post-img {
  width: 100%;
}
.post-divider {
  margin: 10px 0;
}

.post-icon-div {
  display: flex;
  margin-bottom: 10px;
  align-items: center;
}

.comment-div {
  min-height: 50px;
}

.comment-input {
  width: 80%;
  margin-right: 10px;
}
